.home{
    // padding: 12px;
    width: 428px;
    min-height: 100vh;
    min-height: 100vh !important;
    margin: 0 auto;
    position: relative;
    background-color: #0E0A5F;
    z-index: 2;
    height: auto;
    overflow: hidden;
}    