.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
    position: relative;
    border-radius: 16px;
    background: #1f237e;
    margin-top: 0;
    padding: 16px 30px 8px;
    min-height: 200px;
    margin-bottom: 16px;
}

.imagediv{
    display: flex;
    width: 100%;
}
